* {
    background-color: transparent
;
}
footer {
    display: flex;
    text-align: center;
    align-items: center;
}
li {
    list-style: none;
    text-decoration: none;
    display: inline;
    text-align: center;
}
ul.navbar-nav mr-auto{
    display: flex;
    justify-content: space-between;
}
div#navbarSupportedContent{
    display: flex !important;
    justify-content: flex-end !important;
}