@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
* {
    background-color: transparent;
}
header {
    background-color: black !important;
    padding: 2rem;
}
li {
    list-style: none;
    text-decoration: none;
    display: inline;
    align-items: center;
    text-align: center;
    color: lightgrey !important;
}
ul {
    display: inline-block;
    align-items: center;
    text-align: center;
    padding-inline-start: 0!important;
    margin: 0!important;
}
footer {
    background-color: black !important;
    display: flex !important;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    padding: 0.75rem;
}
}
div.bildgalerie {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.dropdown-menu {
    background-color: #131313 !important;
}
main {
    background-image: url("bilder/blaetter.jpg");
    background-size: 110%;
    color: white;
}
.card {
    background-color: transparent !important;
    border: none !important;
}
.jumbotron {
    background-color: transparent !important;
    border: none !important;
}
.my-4 {
    border: none !important;
}
a:hover{
    color: white !important;
    text-decoration: none !important;
}
a {
    color: lightgrey !important;
}
a:active {
    color: lightgrey !important;
    background-color: transparent;
}
.costumbreak {
    display: none;
}
@media screen and (max-width: 800px) {
    .costumbreak {
        display: block;
    }
}
.btn-primary {
    background-color: #131313 !important;
    border-color: #131313 !important;
}
button.navbar-toggler {
    border-color: white;
}

.navbar-toggler{
}

.dropdown-item{
    background-color: #131313!important;
}
.active {
    color: white !important;
    background-color: transparent;
}
.display-4 {
    font-family:Amarante;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke:1.5px white;
    font-size: 5rem!important;
}
body {
    font-size: 1.5rem !important;
}
.bildgalerie {
    font-size: 1rem !important;
}
footer {
    font-size: 1rem !important;
}
header {
    font-size: 1rem !important;
}